.clickable {
  cursor: pointer;
  pointer-events: auto;
}

.text {
  font-size: 10px;
  color: white;
  cursor: pointer;
  pointer-events: auto;
  @media screen and (max-width: 600px) {
    font-size: 1.25vmin;
  }
}
