.outer {
  position: absolute;
  pointer-events: none;
}

.center {
  position: absolute;
  pointer-events: none;
}

.inner {
  position: absolute;
  pointer-events: none;
}

.container {
  position: relative;
}
