.buttonContainer {
  text-align: center;

  > .button {
    border-radius: 20px;
    font-weight: 600;
    height: 40px;
    max-width: 320px;
    padding: 0 24px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
  }
}
